/* Reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Css */

body {
	font-family: 'Roboto', sans-serif;
}


/* navigation */

.custom-nav {
	margin: 0 -1.6% 5%;
	padding: 1% 0;
	-webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.65);
	box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.65);
}

.nav-menu-1 {
	margin-left: 20%;
}

.nav-menu-1 .nav-item {
	padding-right: 40px;
	font-weight: bold;
}

.nav-menu-2 {
	margin-right: 20%;
}

.brand-logo {
	padding: 0 8%;
	;
}

.nav-icon {
	background: #ff0a42;
	border-radius: 93%;
	margin-right: 20px;
}

.nav-buy-btn {
	font-weight: bold;
	background-color: #ff0a42;
	border-radius: 40px;
	width: 169px;
	text-align: center;
}

.navbar-nav .nav-buy-btn .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
	border-bottom: 5px solid #ff0a42;
}


/* Tab panel */

.scroll-tab-wrapper {
	height: 500px;
	position: relative;
	overflow-x: hidden;
}

.scroll-tab-wrapper::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

ul.nav-pills {
	top: 25px;
	position: sticky;
	z-index: 0;
}

.scroll-panel {
	height: 500px;
}

.nav-pills .nav-link {
	font-size: 20px;
	color: #b3b3b3;
	line-height: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #ff0a42;
	background-color: #fff;
	font-size: 25px;
	font-weight: bold;
}

.title-panel {
	padding-top: 25px;
	color: #404040;
	font-size: 25px;
	margin-bottom: 20px;
}

.para-panel {
	color: #404040;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 20px;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-img {
	height: auto;
	width: 81%;
}


/* Testimonial CSS */

.testimonial-main {
	background: #F1F1F1;
	padding: 20px 0;
	position: relative;
	z-index: 1;
}

.test-heading {
	font-weight: bold;
	font-size: 25px;
	color: #404040;
	text-align: center;
}

.test-border {
	position: relative;
}

.test-border::after {
	content: "";
	position: absolute;
	bottom: -14px;
	right: 123px;
	background: #ff0a42;
	height: 3px;
	width: 75px;
}

.testimonial-slider {
	padding: 50px 40px 35px;
	text-align: center;
}

.testimonial .description {
	font-size: 18px;
	color: #363636;
	line-height: 26px;
	text-indent: 30px;
	position: relative;
}

.testimonial .title {
	padding: 15px 0 10px;
	font-size: 24px;
	font-weight: bold;
	color: #363636;
	text-transform: capitalize;
	margin: 0;
}

.testimonial .post {
	padding-bottom: 10px;
	display: block;
	font-size: 15px;
	color: #363636;
}

.owl-theme .owl-controls .owl-buttons div {
	background: transparent;
}

.owl-theme .owl-controls {
	margin-top: 40px;
}

.owl-page {
	margin: 0 20px;
}

.owl-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.owl-theme .owl-controls .owl-page span {
	width: 50px !important;
	height: 50px !important;
	border-radius: 100% !important;
	background: url("/assets/img-3.jpg") no-repeat;
	background-size: cover;
}

.owl-theme .owl-controls .owl-page:nth-child(2) span {
	background: url("assets/model-1.png") no-repeat;
	background-size: cover;
}

.owl-theme .owl-controls .owl-page:nth-child(3) span {
	background: url("assets/img-2.jpg") no-repeat;
	background-size: cover;
}

.owl-theme .owl-controls.clickable .owl-page:hover span {
	opacity: 0.5;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span {
	border-color: #ff0a42;
	border-radius: 50%;
	opacity: 1;
	width: 75px !important;
	height: 75px !important;
}


/* Media query */

@media screen and (max-width: 992px) {
	.nav-menu-1 {
		margin: 0;
	}
	.navbar-light .navbar-nav .active>.nav-link {
		border: none;
	}
	.custom-nav {
		box-shadow: none;
	}
	.panel-content {
		width: 100%;
		height: auto;
	}
	.tab-content .panel-1,
	.tab-content .panel-2,
	.tab-content .panel-3 {
		background: none;
	}
	.panel-container {
		margin: auto;
	}
	.nav-pills .nav-link {
		font-size: 20px;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		font-size: 22px;
	}
	.panel-container .list-group-item:last-child {
		padding-bottom: 40px;
	}
	.para-panel {
		font-size: 15px;
		padding-bottom: 30px;
	}
	.test-heading {
		font-size: 20px;
	}
	.testimonial .description {
		font-size: 15px;
		text-indent: inherit;
	}
	.test-wrapper-1 {
		margin-bottom: 50px;
	}
	.test-border,
	.brand-logo,
	.nav-icon {
		display: none;
	}
}